<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Akka.NET rules" ToolsVersion="15.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
	<Rule Id="S2306" Action="None" />
	<Rule Id="S2372" Action="None" />
	<Rule Id="S2436" Action="None" />
	<Rule Id="S3247" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

  </Rules>
</RuleSet>